<section id="section_note_form">
	<div class="container mt-5">
		<div class="row">
			<div class="col-8 offset-2">
				
				<%= form_for @note do |f| %>

					<% if @note.errors.any? %>
						<h2>We have some errors here !</h2>
						<ul>
							<% @note.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					<% end %>

					<div class="form-group">
						<span class="text-danger">*</span>
						<%= f.label :title, "Title：" %>
						<%= f.text_field :title, class: "form-control" %>
					</div>

					<div class="form-group">
						<span class="text-danger">*</span>
						<%= f.label :content, "Content" %>
						<%= f.text_area :content, rows: "15", class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.submit class: "btn btn-success btn-lg" %>
					</div>

				<% end %>

			</div>
		</div>
	</div>
</section>
