<%= form_for @note do |f| %>

	<% if @note.errors.any? %>
		<h2>We have some errors here !</h2>
		<ul>
			<% @note.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<div class="form-group">
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>
	</div>

	<div class="form-group">
		<%= f.label :content, "Content" %>
		<%= f.text_area :content %>
	</div>

	<div class="form-group">
		<%= f.submit %>
	</div>

<% end %>
